---
title: "Alumni"
layout: gridlay
sitemap: false
permalink: /alumni/
---

<style>
  h3#header {
    font-size: 28px;
    text-align: center;
    margin: 30px 0;
    font-weight: bold;
  }

  .alumni-entry {
    font-size: 18px;
    line-height: 1.8;
  }
</style>

<center>
<h3 id="header">Alumni</h3>
</center>

<div class="jumbotron">
  <div class="col-md-12 col-sm-12 mx-auto alumni-entry">
    <ul style="list-style-type: none; padding-left: 0;">
      {% for alum in site.data.alumni %}
      <li style="margin-bottom: 10px;">
        <strong>{{ alum.name }}</strong>
        {% if alum.years %}
          ({{ alum.role }}, {{ alum.years }})
        {% else %}
          ({{ alum.role }})
        {% endif %}
        {% if alum.current_position %}
          &rarr; {{ alum.current_position }}
        {% endif %}
        {% if alum.accomplishments %}
          <ul style="list-style: none; padding-left: 0; margin-top: 5px;">
            {% for item in alum.accomplishments %}
              <li style="color: #A1CF8D; margin-left: 10px;">&mdash; {{ item }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

