<br/>
<section id="footer">
<div class="container-footer">
  <div class="panel-footer">
	  <div class="row">
		<div class="col-sm-4">
            <p>{{ site.affiliation }}</p>
		</div>


              <div class="col-sm-4">
              <div class="footer-logo text-center">
              <div class="footer-logo">
              <img src="../images/cornell_logo_white.svg">
              </div>
              </div>
              </div>
              
        	<div class="col-sm-4 text-right">
                <p>{{ site.location }}</p>
		</div>
	  </div>

      <center><p>&copy {{ "now" | date: "%Y" }} {{site.title | escape }} </p></center>
	</div>
  </div>
</div>

<script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
