<div id="particles-js" class="particles-container"></div>

<div class="particles-title-container">
  <h1 class="particles-title">Molecular Design for Water and Energy Systems</h1>
</div>

<style>
body, html {
  margin: 0;
  padding: 0;
}

.particles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh; /* Adjusted height to maintain aspect ratio */
  z-index: 1;
  pointer-events: none; /* Allow mouse events to pass through the particles container */
}

.particles-title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  color: #ffffff;
  pointer-events: none; /* Allow mouse events to pass through the title container */
}

.particles-title {
  margin: 0;
  font-size: 36px; /* Adjust the default font size */
  font-weight: bold; /* Keep the title bolded */
}

@media (max-width: 767px) {
  .particles-title-container {
    top: 30%; /* Adjust the percentage for smaller screens */
    width: 100%; /* Limit the width of the title container on smaller screens */
    margin-left: auto;
    margin-right: auto;
  }

  .particles-title {
    font-size: 28px; /* Adjust the font size for smaller screens */
    white-space: normal; /* Allow text to wrap on smaller screens */
    word-break: break-word; /* Break words when necessary */
  }
}
</style>

