#particles-js {
  /* No need to set a fixed width here */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--color-particles-background);

  .particles-js-canvas-el {
    /* Set the dimensions of the particles canvas */
    width: 100%;
    height: 100%;
  }

    .particles-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px; /* Adjust the font size as needed */
    font-weight: bold;
    color: white; /* Set the color to white */
    z-index: 1; /* Make sure the title is above the particles */
  }

  .jumbotron {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
}

.particles-container {
  min-height: 0vh;
}
