#particles-container {
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; /* Set the background color */

  .particles-js-canvas-el {
    width: 100%;
    height: 100%;
  }
}
