/* custom.css */

.footer-logo img {
    max-width: 90px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Change the background color of the footer */
#footer {
    background-color: #FF0000; /* Replace with your desired color */
}
