/* custom.css */

.footer-logo img {
    max-width: 80px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Footer container */
.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: none !important;
  background-color: #444; /* Your desired background color */
  color: #444; /* Text color for visibility */
  padding: 20px; /* Adjust padding as needed */
}

