<style>
/* Add this style to make text visible in the boxes */
#a{{ entry.key }}, #b{{ entry.key }} {
    color: white;
}

/* Your existing styles for the boxes */
#a{{ entry.key }}, #b{{ entry.key }} {
    display: none;
    background-color: black; /* Change this to the background color you prefer */
    border: thick solid;
    border-color: gray;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.gridlay-container {
    position: relative;
}

.gridlay-entry {
    display: flex;
    flex-direction: column; /* Set flex-direction to column */
    margin-bottom: 0px;
}

.text-justify.entry {
    font-size: 16px; /* Adjust the font size as needed */
}

.special-recognition {
    color: #A1CF8D;
    margin-left: 20px;
    margin-top: 10px; /* Adjust the margin-top for spacing */
    margin-bottom: 10px; /* Add spacing below the special recognition text */
    font-size: 16px;
}

.btn {
    margin-bottom: 10px; /* Adjust the margin-bottom value for spacing between buttons */
    padding-top: 0px; /* Adjust the padding-top value for button height */
    padding-bottom: 0px; /* Adjust the padding-bottom value for button height */
    padding-left: 15px;
    padding-right: 15px;
    height: 30px; /* Adjust the height of the buttons */
    z-index: 2;
}

</style>

<div class="gridlay-entry">
    <div class="text-justify entry">
        {{ reference }}
    </div>

    <div class="buttons-container">
        {% if entry.file %}
            <a href="{{ site.url }}{{ site.baseurl }}/papers/{{ entry.file }}" target="_blank">
                <button class="btn btn-success btm-sm">PDF</button>
            </a>
        {% endif %}
        
        {% if entry.doi %}
            {% if entry.type == 'unpublished' %}
                <a href="{{ entry.doi | prepend: 'https://arxiv.org/abs/' }}" target="_blank">
                    <button class="btn btn-primary btm-sm">ARXIV</button>
                </a>
            {% else %}
                <a href="{{ entry.doi | prepend: 'http://doi.org/' }}" target="_blank">
                    <button class="btn btn-primary btm-sm">DOI</button>
                </a>
            {% endif %}
        {% endif %}

        {% if entry.data %}
            <a href="{{ entry.data }}" target="_blank">
                <button class="btn btn-info btm-sm">DATA</button>
            </a>
        {% endif %}
        
        {% if entry.type == 'unpublished' or entry.type == 'article' or entry.type == 'thesis' or entry.type == 'inproceedings' or entry.type == 'report' %}
            <button class="btn btn-danger btm-sm" onclick="toggleBibtex('{{ entry.key }}')">BIB</button>
        {% endif %}
        
        {% if entry.abstract %}
            <button class="btn btn-warning btm-sm" onclick="toggleAbstract('{{ entry.key }}')">ABSTRACT</button>
        {% endif %}
    </div>

    {% capture recognition_key %}{{ entry.key }}{% endcapture %}
    {% assign recognition_data = site.data.special_recognition[recognition_key] %}

   {% if recognition_data %}
        <div class="special-recognition" style="margin-top: 0px;">
            {{ recognition_data.recognition_text | newline_to_br }}
        </div>
    {% endif %}

    <div id="a{{ entry.key }}" style="display:none;">
        <pre>{{ entry.bibtex }}</pre>
    </div>

    <div id="b{{ entry.key }}" style="display:none;">
        <pre style="white-space: pre-wrap;">{{ entry.abstract }}</pre>
    </div>
</div>

<script>
function toggleBibtex(entryKey) {
    var x = document.getElementById('a' + entryKey);
    var y = document.getElementById('b' + entryKey);

    // Hide the abstract div if it's visible
    y.style.display = 'none';

    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}

function toggleAbstract(entryKey) {
    var x = document.getElementById('b' + entryKey);
    var y = document.getElementById('a' + entryKey);

    // Hide the bibtex div if it's visible
    y.style.display = 'none';

    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>
