<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container-fluid">
      <div class="row">
        {{ content }}
      </div>
    </div>

    <link rel="stylesheet" href="{{ '/assets/custom.css' | relative_url }}">

    <script src="{{ '/assets/js/particles.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/particles.js' | relative_url }}"></script>

    <script>
    particlesJS.load('particles-js', '{{ 'assets/js/particles.json' | relative_url }}', function() {
    console.log('callback - particles.js config loaded');
  });
}
</script>

    {% include footer.html %}

  </body>

/* Styles for the "Our group..." section on the home page */
.home-section {
  font-size: 24px; /* Adjust the font size as needed */
  text-align: center;
  font-weight: bold;
}

</html>
